//output:home.html, pretty:false
extends layout

include includes/postLink
include includes/appLink

block meta
  meta(property="og:type" content="website")
  meta(property="og:image" content=baseURL+'/images/logo.png')

block header
  +banner(baseURL+'/images/logo.png', '#4682b4')

block content

  div(id='about').w3-container
    h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 About
    p GavG is the web and mobile app world presence of me - Gav G. I'm a software developer and computer scientist from Manchester UK. This site is a little window for the world to see what sort of computery stuff I get up to in my spare time.
    p I've always got a handful of personal projects on the go which are usually new and interesting (to me at least). Sometimes the fruits of my labours can be a bit naff but every now and then I come across something unique and or novel that I'd think deserves sharing with the world. In my day-to-day life I write code for a small software development company in the North West of England, when I'm not earning a crust, I like to relax by exploring tech in my own incautious and avid fashion.

    div(id="posts").w3-container.w3-padding-32
      h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 Recent Posts
      div.container-row
        +postLink(baseURL+'/posts/randomtimer', 'Random Timer', baseURL+'/misc/randomtimer/icon.png')
        +postLink(baseURL+'/posts/ctf', 'CTF Puzzle', baseURL+'/images/posts/lock.png')
        +postLink(baseURL+'/posts/rmab', 'Rapid Mobile App Bodging', baseURL+'/images/posts/rmab.png')

    div(id="apps").w3-container.w3-padding-32
      h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 Popular Apps
      div.container-row
        +appLink('https://play.google.com/store/apps/details?id=com.gavg.obsrt', 'OBS Remote Tally Light', baseURL+'/images/apps/obsrt.png')
        +appLink(baseURL+'/calc/index.html', 'CSS Calc', baseURL+'/images/apps/calc.png')
