//output:index.html, pretty:false
extends layout

include includes/postLink
include includes/appLink

block meta
    meta(property="og:type" content="website")
    meta(property="og:image" content=baseURL+'/images/logo.png')
    meta(name="description" content="GavG official website")
    meta(name="keywords" content="GavG,Programming,Tinkering,Hacking,Experiments")
    meta(name="author" content="GavG")

block header
    +banner(baseURL+'/images/logo.png', '#4682b4', '', 'png', baseURL+'/images/logo.webp')

block scripts
    script.
        var logo = document.getElementById('bannerImg');
        window.addEventListener('scroll', function() {
            var offset = window.scrollY || window.pageYOffset || document.body.scrollTop + (document.documentElement && document.documentElement.scrollTop || 0);
            logo.style.marginTop = offset +'px';
            logo.style.transform = 'rotate(' + offset * 3 +'deg)';
            logo.style.webkitTransform = 'rotate(' + offset * 3 +'deg)';
        });

block content

    div(id='about').container
        h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 About
        p Welcome to a collection of software odds and ends. These are a bunch of my experiments, feel free to have a mooch around.

        div(id="posts").container.w3-padding-32
            h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 Recent Posts
            div.container-row
                +postLink(baseURL+'/posts/smartype', 'Smartype Keyboard Weather Adapter', baseURL+'/images/posts/keyview_icon.png', 'png', baseURL+'/images/posts/keyview_icon.webp')
                +postLink(baseURL+'/posts/randomtimer', 'Random Timer', baseURL+'/misc/randomtimer/icon.png', 'png', baseURL+'/misc/randomtimer/icon.webp')
                +postLink(baseURL+'/posts/ctf', 'CTF Puzzle', baseURL+'/images/posts/lock.png', 'png', baseURL+'/images/posts/lock.webp')
                +postLink(baseURL+'/posts/rmab', 'Rapid Mobile App Bodging', baseURL+'/images/posts/rmab.png', 'png', baseURL+'/images/posts/rmab.webp')

        div(id="apps").container.w3-padding-32
            h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 Popular Apps
            div.container-row
                +appLink('https://play.google.com/store/apps/details?id=com.gavg.obsrt', 'OBS Remote Tally Light', baseURL+'/images/apps/obsrt.png', 'png', baseURL+'/images/apps/obsrt.webp')
                +appLink(baseURL+'/calc/index.html', 'CSS Calc', baseURL+'/images/apps/calc.png', 'png', baseURL+'/images/apps/calc.webp')
