doctype html
- var baseURL = "https://gavg.github.io"
html(lang='en')
    include includes/head
    body
        include includes/menu
        include includes/banner
        block header
        #app.w-100
            block content
        include includes/footer
        block scripts
