doctype html
- var baseURL = "file:///Library/WebServer/Documents/GavG.github.io"
html(lang='en')
    include includes/head
    include includes/menu
    include includes/banner
    body
        block header
        #app.w-100
            block content
        include includes/footer
        block scripts
