doctype html
- var baseURL = "file:///C:/Users/GavinGration/Projects/GavG.github.io"
//- var baseURL = "https://gavg.github.io"
html
  include includes/head
  include includes/menu
  include includes/banner
  body
    block header
    #app
      block content
    include includes/footer
