//output:index.html, pretty:false
extends ../../layout

block meta
    meta(property="og:type" content="article")
    meta(property="og:image" content=baseURL+'/misc/randomtimer/icon.png')

block header
    +banner(baseURL+'/misc/randomtimer/icon.png', '#5C5', '', 'png', baseURL+'/misc/randomtimer/icon.webp')

block content

    article.w3-container
        h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 Random Timer

        p Ever needed a random timer for a game or some other application? Here you go!
        div.w3-centered.container-row.w3-margin-bottom
            a.w3-btn(href=baseURL+"/misc/randomtimer/index.html", style="background-color:#5C5", target="_blank") OPEN

        p #[strong TO USE:] Just set a minimum and a maximum time, either by clicking on the handy presets or typing in the number of minutes and seconds and Hit 'GO!'. A random timer will be started and will go off at some point between your chosen times.
        p If you get bored or change your mind part way through a time you can simply press 'STOP!' to cancel it and start over.
        p If you plan to use the timer often it helpfully remembers your last settings so you don't have to reenter them when you return!
