//output:index.html, pretty:false
extends ../../layout

block header
  +banner(baseURL+'/misc/randomtimer/icon.png', '#5C5')
  include ../../includes/progressIndicator

block content

  div.w3-container
    h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 Random Timer

    p Ever needed a random timer for a game or some other application? Here you go! 
    div.w3-centered.container-row.w3-margin-bottom
      a.w3-btn(href=baseURL+"/misc/randomtimer/index.html", style="background-color:#5C5") OPEN
    
    p 
