/* Resets */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* Utils */

/* - Colors */

:root {
    --primary: #1a237e;
    --secondary:#c5cae9;
    --dark: #101010;
    --light: #efefef;
}

/* - Layout */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

@media only screen and (min-width: 700px) {
    .flex-sm-row {
        display: flex;
        flex-direction: row;
    }

    .flex-sm-col {
        display: flex;
        flex-direction: column;
    }

    .order-sm-0 {
        order: 0;
    }

    .order-sm-1 {
        order: 1;
    }
}

/* - Backgrounds */

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-light {
    background-color: var(--light);
}

/* - Font Colors */

.fc-light {
    color: var(--light);
}

.fc-dark {
    color: var(--dark);
}

/* - Headings */

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.75rem;
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}

/* - Sizing */

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.mnh-100 {
    min-height: 100%;
}

@media only screen and (min-width: 700px) {
    .w-sm-100 {
        width: 100%;
    }

    .w-sm-75 {
        width: 75%;
    }

    .w-sm-60 {
        width: 60%;
    }

    .w-sm-50 {
        width: 50%;
    }

    .w-sm-40 {
        width: 40%;
    }

    .w-sm-25 {
        width: 25%;
    }

    .mnh-sm-100 {
        min-height: 100%;
    }
}

@media only screen and (min-width: 960px) {
    .w-md-100 {
        width: 100%;
    }

    .w-md-75 {
        width: 75%;
    }

    .w-md-60 {
        width: 60%;
    }

    .w-md-50 {
        width: 50%;
    }

    .w-md-40 {
        width: 40%;
    }

    .w-md-25 {
        width: 25%;
    }

    .mnh-md-100 {
        min-height: 100%;
    }
}

/* - Spacing */

.p-1 {
    padding: 1rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-auto {
    margin-top: auto;
}

/* Targeted Styling */

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #bbbebf;
}

main {
    max-width: 1200px;
    margin: auto;
    background-color: #FFFFFF;
    line-height: 1.5rem;
}

a {
    color: var(--primary);
}

#main-header {
    max-height: 150px;
}

#profile-pic {
    object-fit: cover;
    width: auto;
    height: 80%;
    max-width: 80%;
    max-height: 80%;
    object-position: 50% 25%;
    border-radius: 50%;
}

nav {
    padding: 1rem;
}

nav h3 {
    margin-top: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px var(--dark);
}

nav ul {
    padding-left: 1.5rem;
    list-style: square;
}

article details {
    margin-bottom: 0.5rem;
}

article details p {
    padding-left: 1rem;
}

article details summary {
    padding-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

article {
    padding-left: 1rem;
}

article h2 {
    margin-left: -1rem;
    color: var(--primary);
}

@media screen and (min-width: 860px) {
    #main-header {
        max-height: 200px;
    }
}
