//output:head.html, pretty:false
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title GavG
  link(rel='stylesheet', href='../css/base.css')
  style(type="text/css").
    .header .w3-image{
      position: fixed;
    }
    .w3-content{
      background: #FFF;
    }
    .header{
      padding-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
      z-index: -1;
      background-color: paleturquoise;
    }
