//output: index.html
doctype html
html
  head
    style.
      html, body{
      height: 100%;
      }
  body
    button(id='start') start
    button(id='stop') stop
    .output Output
    script.
      if (!('webkitSpeechRecognition' in window)) {
        //Speech API not supported here…
      } else { //Let’s do some cool stuff :)

        var recognition = new webkitSpeechRecognition(); //That is the object that will manage our whole recognition process.

        var start = document.getElementById('start');
        var stop = document.getElementById('stop');

        start.addEventListener('click', function(event){
          recognition.start();
        });

        stop.addEventListener('click', function(){
          recognition.stop();
        });

        recognition.continuous = true;   //Suitable for dictation. 
        recognition.interimResults = true;  //If we want to start receiving results even if they are not final.
        //Define some more additional parameters for the recognition:
        recognition.lang = "en-US"; 
        recognition.maxAlternatives = 1; //Since from our experience, the highest result is really the best...

        recognition.onstart = function() {
          console.log('listening');
        };

        recognition.onend = function() {
          console.log('stopped');
        };

        recognition.onspeechstart = function() {
          console.log('speech started');
        };  

        recognition.onspeechend = function() {
          console.log('speech stopped');
        };

        recognition.onnomatch = function(event) {
          console.log('no matched');
        };


        recognition.onresult = function(event) { //the event holds the results
        console.log('results acquired');
        //Yay – we have results! Let’s check if they are defined and if final or not:
          if (typeof(event.results) === 'undefined') { //Something is wrong…
            recognition.stop();
            return;
            }

            for (var i = event.resultIndex; i < event.results.length; ++i) {      
              if (event.results[i].isFinal) { //Final results
                console.log("final results: " + event.results[i][0].transcript);   //Of course – here is the place to do useful things with the results.
              } else {   //i.e. interim...
                console.log("interim results: " + event.results[i][0].transcript);  //You can use these results to give the user near real time experience.
              } 
            } //end for loop
          }
      }
