//output: index.html
doctype html
html
  head
    title Light Sensing API
    style.
      body{
      -webkit-transition: background-color 1000ms linear;
      -ms-transition: background-color 1000ms linear;
      transition: background-color 1000ms linear;
      }
  body
    h1(id='level' style='color: red')

    script.
      window.addEventListener('userproximity', function(event) {
      if (event.near) {
      // let's power off the screen
        navigator.mozPower.screenEnabled = false;
        } else {
        // Otherwise, let's power on the screen
        navigator.mozPower.screenEnabled = true;
        }
        });

  window.addEventListener('devicelight', function(event) {
    document.getElementById('level').innerHTML = event.value;
    document.body.style.background = 'rgb('+event.value*25.5+' '+event.value*25.5+' '+event.value*25.5+')';
    });
