//output: index.html
doctype html
html
  head
    title Light Sensing API
  body
    h1(id='level' style='color: red')

    script.
      window.addEventListener('devicelight', function(event) {
        document.getElementById('level').innerHTML = event.value;
        document.body.style.background = 'rgb('+event.value*25.5+' '+event.value*25.5+' '+event.value*25.5+')';
        });
