html, body {
  margin: 0px;
  padding: 0px;
}

body {
  background: #353535;
  font: normal 9vh "Lucida Sans Unicode", "Lucida Grande", "Arial Unicode MS", sans-serif;
}

table {
  margin: 1vh auto;
  background: #DB8;
  border-collapse: collapse;
}

td {
  width: 12vh;
  height: 12vh;
  text-align: center;
  font-size: 9vh;
  padding: 0px;
}

td:after {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: relative;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

table.rotate {
  transform: rotate(180deg);
}

table.rotate td:after {
  transform: rotate(180deg) !important;
}

tr:nth-child(even) td:nth-child(odd) {
  background: #555;
}

tr:nth-child(odd) td:nth-child(even) {
  background: #555;
}

td.b {
  color: #000;
}

td.w {
  color: #f9f9f9;
}

td.R:after {
  content: '\265C';
}

td.N:after {
  content: '\265E';
}

td.B:after {
  content: '\265D';
}

td.K:after {
  content: '\265A';
}

td.Q:after {
  content: '\265B';
}

td.P:after {
  content: '\265F';
}