//output:001.html, pretty:false
extends ../layout

block content
  
  +banner(baseURL+'/images/posts/rmab.png', '#7fffd4')

  div.w3-container
    h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 Rapid Mobile App Bodging
    
    p Often there are times when you need to create a solution to a problem but don't have the necessary time to do a proper job from scratch or simply can't be bothered either because it's boring and laborious or you've simply got better things to do. Hence the concept of the 'bodge' came into being.
