//output:index.html, pretty:false
extends ../layout

include ../includes/postLink

block header
    +banner(baseURL+'/images/logo.png', '#ffdab9', 'png', baseURL+'/images/logo.webp')

block content
    div(id="posts").w3-container.w3-padding-32
        h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 Recent Posts
        div.container-row
            +postLink(baseURL+'/posts/smartype', 'Smartype Keyboard Weather Adapter', baseURL+'/images/posts/keyview_icon.png', 'png', baseURL+'/images/posts/keyview_icon.webp')
            +postLink(baseURL+'/posts/randomtimer', 'Random Timer', baseURL+'/misc/randomtimer/icon.png', 'png', baseURL+'/misc/randomtimer/icon.webp')
            +postLink(baseURL+'/posts/ctf', 'CTF Puzzle', baseURL+'/images/posts/lock.png', 'png', baseURL+'/images/posts/lock.webp')
            +postLink(baseURL+'/posts/rmab', 'Rapid Mobile App Bodging', baseURL+'/images/posts/rmab.png', 'png', baseURL+'/images/posts/rmab.webp')
