mixin banner(src, col)
  header(style="background-color:"+col).header
    img(id="bannerImg" src=src).w3-image
  script.
    var logo = document.getElementById('bannerImg');
    window.addEventListener('scroll', function() {
        logo.style.marginTop = document.documentElement.scrollTop +'px';
        logo.style.transform = 'rotate('+document.documentElement.scrollTop +'deg)';
    });
