mixin banner(src, col, class_name, type, webp)
    header(style="background-color:"+col).header
        picture
            source(srcset=webp type="image/webp")
            source(srcset=src type="image/"+type) 
            img(id="bannerImg" class="w3-image "+class_name, alt="Post banner image" src=src).app_image.margin-bottom
