footer.w3-center.w3-black.w3-padding-16
    div.w3-row-padding
        a(href="https://gavg.github.io") gavg.github.io
        a(href="https://gavg.github.io/misc/mad/") Site Policy

script.
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-XXXXX-Y', 'auto')
    ga('send', 'pageview')

    window.addEventListener('load', function(){
        var reveals = document.getElementsByClassName('reveals')
        for (i = 0; i < reveals.length; i++) {
            reveals[i].addEventListener('click', function(e){
                e.target.scrollTop = 0
                e.target.classList.toggle('open')
            })
        }
    })

    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/sw.js')
        })
    }

script(async src='https://www.google-analytics.com/analytics.js')
