footer.center.black.padding-16
    div.row-padding
        a(href="https://gavg.github.io") gavg.github.io
        a(href="https://gavg.github.io/misc/mad/") Site Policy

script(async src='/includes/scripts/main.min.js?v=2')
script.
    window.dataLayer = window.dataLayer || []
    function gtag(){dataLayer.push(arguments)}
    gtag('js', new Date())
    gtag('config', 'UA-123089114-1')
