footer.center.black.padding-16
    div.row-padding
        a(href="https://gavg.github.io") gavg.github.io
        a(href="https://gavg.github.io/misc/mad/") Site Policy

script(async src='/includes/scripts/main.min.js')
script(async src='https://www.google-analytics.com/analytics.js')
