head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href=baseURL+"/images/logo.png?v=1" type="image/png")
    link(rel="icon" href=baseURL+"/images/logo.png?v=1" type="image/png")
    title GavG
    block meta
    link(rel='stylesheet' href=baseURL+'/css/base.min.css?v=1.08' media="print" onload="this.media='all'")
    link(rel="manifest" href="/manifest.json")
    link(rel="preconnect" href="https://www.google-analytics.com")
    meta(name="theme-color" content="#4682b4")
    link(rel="apple-touch-icon" href="/images/apple_icon.png")
    style.
        *, *:before, *:after {
            -webkit-box-sizing: inherit;
            box-sizing: inherit
        }
        .header {
            padding-top: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 50vh;
            min-height: 50vh;
            margin: 0px;
            width: 100%;
            overflow: hidden;
        }
        #bannerImg {
            width: auto;
        }
        img.large, #bannerImg.large {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
        #logo {
            width: 20px;
            margin: -3px 0px 0px -4px;
        }
        .app_image {
            height: 200px;
        }
        @media only screen and (max-width: 1200px) {
            .app_image {
                height: 150px;
            }
        }
        @media only screen and (max-width: 850px) {
            .app_image {
                height: 100px;
            }
            .container-row .display-container {
                min-width: 100px;
            }
        }
        @media only screen and (max-width: 700px) {
            .post-link {
                width: 50%;
            }
            .container, .panel {
                padding: 0.01em 4px;
            }
            .app_image {
                height: 70px;
            }
        }
