head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href=baseURL+"/images/logo.png?v=1" type="image/png")
    link(rel="icon" href=baseURL+"/images/logo.png?v=1" type="image/png")
    title GavG
    block meta
    link(rel='stylesheet' href=baseURL+'/css/base.css?v=1.07')
    link(rel="manifest" href="/manifest.json")
    link(rel="preconnect" href="https://www.google-analytics.com")
