mixin postLink(href, title, img)
  div.container-row
    a(href=href).w3-row-padding
      div.w3-col.l3.m6.w3-margin-bottom
        div.w3-display-container
          div.w3-display-bottomleft.w3-black.br-2.w3-padding=title
          img(src=img).app_image.w3-margin-bottom
          
