div.progress-indicator
  svg.progress-circle
    g
      circle(cx="0" cy="0" r="10" stroke="black" class="animated-circle" transform="translate(25,25) rotate(-90)")
    g
      circle(cx="0" cy="0" r="19" class="back-circle" transform="translate(25,25) rotate(-90)")
  div.progress-count
script(src=baseURL+'/includes/scripts/progress.min.js' defer)
